:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-image: url(/images/Sprinkle.svg);
  
}
#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-form{
  min-width: 20rem;
  padding: clamp(1rem, 2rem);
  border-radius: .356rem;
  backdrop-filter: blur(7px);
  text-align: center;
  text-align: center;
}

/* Drag and drop section  */
.drag-area{
  border: 2px dashed #fff;
  height: 315px;
  width: 590px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 1rem 1rem 1rem;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#test-url {
  width: -moz-available;
  margin: 10px 16px;
  font-size: 18px;
  padding: 10px;
}


/* results page-------- */
.results {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}
.results-left {
  height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 20px;
}
.results-right {
  flex-grow: 1;
  padding: 50px;
  max-width: 500px;
}
@media (max-width:991px) {
  .results {
    flex-direction: column;
    flex-grow: 0;
  }
  .results-left {
    height: 250px;
  }
}
.card {
  border-radius: 0.356rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 7px;
  text-align: center;
  margin-bottom: 10px;
}

.gpt-propmt {
  border-bottom: 2px solid white;
  border-radius: 0.356rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

#empty{
  text-align: center;
}

.nav {
  width: 200px;
  margin-top: 25px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
}

#btn-prompt {
  padding: 0 20px;
  font-size: 20px;
}
#gpt-input{
  flex: 1 1 0%;
  font-size: clamp(0.8rem, 1.5rem, 2em);
  margin-right: 1rem;
}
.res-block-p {
  font-size: 1.5rem;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  max-width: 800px;
}
.disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
}
@media (max-width:768px) {
  .gpt-propmt {
    flex-direction: column;
  }
  #gpt-input {
    margin-right: 0;
  }
  #btn-prompt {
    margin-top: 20px
  }
  .about-text {
    max-height: 250px;
    overflow-y: scroll;
  }
  .results-right {
    width: inherit;
  }
}